.jumbotron {
  padding-top: 2rem;
  background-color: #c9eee1;
}
#projects {
  background-color: #c9eee1;
}
#projects h2 {
  margin-bottom: 2rem;
}
#contact {
}
footer p {
  padding-left: 25px;
}
